xml/main/xml/schema/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="language">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="shortcut"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="resolution">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="width"/>
              <xs:element type="xs:float" name="height"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>